{
  "mongdbconnectionstring": "",
  "mongodbdatabasename": "",
  "reloadinterval": "",
  "emailhost": "",
  "emailport": "",
  "emailusername": "",
  "emailpassword": "",
  "errorlogaddress": "",
  "verbosemode": true
}